[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=image/*;video/*;audio/*;
Actions=saveToVault;

[Desktop Action saveToVault]
Name=Save to Enthymio
Icon=document-save
Exec=enthymio-save-many %F
